<div *ngIf="personals" class="personals-wrapper">
    <div class="personal-card-wrapper" *ngFor="let personal of personals  | customSlice: lastIndexOfPersonal: numOfPersonalToDisplay">
        <app-card-details [cardDetails]="personal"></app-card-details>
    </div>
</div>
