.groups-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;


    .list-wrapper {
        // height: 100%;
        // overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &.left-list {
            .group-card-wrapper {
                position: relative;
                left: -100%;
                transition: left 0.5s;

                &.focus {
                    left: 0;
                }
            }
        }

        &.right-list {
            .group-card-wrapper {
                position: relative;
                right: -100%;
                transition: right 0.5s;

                &.focus {
                    right: 0;
                }
            }
        }
    }    
}
@import "~/src/variables.scss";


.card {
 
    .percentage{
        border-radius: 50% !important;
        background-color: $mainColor;
        color:$subColor;
       text-align: center;
       max-width: 32px;
       max-height: 32px;
       font-size: 0.7rem;
    }
    width: 100%;
    padding: 10px;
   // height: 100px;
   // background-color: $mainColor;
  // background-color: #F5EEE7;
  background-color: $subColor;
    .progress {
        position: relative;
        height: 30px;
        align-items: center;
        justify-content: center;
        background-color: #E3E0F4;
        color: #D3B873 !important;
        .filter-percent {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            background-color: $subColor;
            max-width: 100%;
            transition: width 0.5s;
        }
      

        .percent {
            z-index: 2;
            position: relative;
            color: $mainColor;
        }
    }

.card-title{
    text-align: center;
    font-weight: bold;
}

    .donated-text,
    .donated-amount,
    .goal-text,
    .goal-amount {
        white-space: nowrap;
        font-weight: 700;
        font-size: 0.8rem;
        text-align: center;
    }
    .goal-amount {color: #595959;}
    .donated-amount{  color: $subColor;}
    .donated-amount,
    .goal-amount {
        font-weight: bold;
    }

    .name-ambassador {
        text-align: center;
        font-weight: bold;
    }
}
//  &.group .card {
.card {
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.3);
    background-color: #F5EEE7;

    * {
        color: $subColor;
    }

    .filter-percent {
        background-color: $mainColor;
    }

    .progress {

        .filter-percent {
            background-color: $mainColor;
        }

        .percent {
            color: $subColor;
        }
    }
}