<div *ngIf="groups" class="groups-wrapper">
    <div class="left-list list-wrapper col-12">
        <div class="group-card-wrapper  {{focusClass[i]}}"
            *ngFor="let group of groups | customSlice: lastIndexOfGroup: numOfGroupsToDisplay | slice:0:numOfGroupsToDisplay/2 ; let i = index">
            <div class="card m-2 p-2  shadow-lg  menuCard">
                <div class="card-body">
                    <div class="card-title">
                        {{group.webName}}
                    </div>
                    <div class="card-text">
                        <p class="mx-auto percentage p-1">{{group.sum/group.goal | percent}}</p>

                        <div class="donated-amount">{{group.sum | currency:'ILS'}}</div>
                        <div class="goal-amount">{{group.goal | currency:'ILS'}} :היעד </div>


                    </div>
                </div>
            </div>

        </div>
    </div>