<div class="card-details-wrapper {{cardDetails.className}}" *ngIf="cardDetails">
    <div class="card shadow rounded">
        <div class="name-ambassador">{{cardDetails.webName}}</div>
        <div *ngIf="cardDetails.goal" class="content-wrapper row align-items-center">
            <div class="donated col-lg-3 col-12">
                <div class="donated-text">הותרם:</div>
                <div class="donated-amount">{{cardDetails.sum | currency:'ILS'}}</div>
            </div>
            <div class="progress col-lg-6 col-12 ">
                <div class="percent">{{cardDetails.sum/cardDetails.goal | percent}}</div>
                <div class="filter-percent" [ngStyle]="{'width': (cardDetails.sum/cardDetails.goal*100)+ '%'}"></div>
            </div>
            <div class="goal col-lg-3 col-12">
                <div class="goal-text">היעד:</div>
                <div class="goal-amount">{{cardDetails.goal | currency:'ILS'}}</div>
            </div>
        </div>
        <div *ngIf="!cardDetails.goal" class="content-wrapper row align-items-center">
            <div class="donated row">
                <div class="donated-text col">הותרם:</div>
                <div class="donated-amount col">{{cardDetails.sum | currency:'ILS'}}</div>
            </div>
        </div>
    </div>
</div>


