
<div class="row mx-auto">
<div class="total-wrapper" *ngIf="total">
    <div class="col-3 logo m-3">
        <div class="logo-title">
            <img src="../assets/images/logo.png">
        </div>
    </div>
    <div class="total-title-wrapper  col-6 " >
        <div class=" mx-auto">
        <div class="total-title-text mt-4">{{amountRaisedTxt}}</div>
        <div class="total-title-amount">{{total.totalAmounts | currency:'ILS'}}</div>
    </div>
    </div>
    <div class="circle-wrapper col-3">
        <circle-progress class="circle__progress" [percent]="total.totalAmounts/total.generalTarget * 100"
            [animation]="true" [animationDuration]="300" [startFromZero]="true" [showInnerStroke]="true"
            [titleFontSize]="'28'" [titleFontWeight]="'900'" [unitsFontSize]="'28'" [unitsFontWeight]="'900'"
            [subtitle]="[formTargetTxt,  '₪' + total.generalTarget]" [subtitleFontSize]="'1.5rem'"
            [lazy]="false"></circle-progress>
    </div>
 
</div>
</div>