@import "~/src/variables.scss";

.total-wrapper {
    direction: rtl;
    display: flex;
    justify-content: center;
    height: 100%;
margin-top: 5rem;

    .total-title-wrapper {
        padding-left: 50px;
        display: flex;
        text-align: center;

        .total-title-amount {
            font-size: $totalTitleAmountfontSize;
        
            color: $thirdColor;
            font-weight: bold;
        }

        .total-title-text {
            font-size: $totalTitleTxtfontSize;
        }
    }
    .logo-title {
        height: $heightOfTitle;
        text-align: center;
        display: inline-block;

        img {
            height: 100%;
        }
    }
}