
<div class="container-fluid ">

    <div class="row">
      <div class="col-2">
    
            <app-groups></app-groups>
      </div>
        <div class="col-8 mx-auto">
            <div class="total-wrapper">
                <app-total></app-total>
            </div>
        </div>
        <div class="col-2">   <app-groups2></app-groups2></div>

       
    </div>
    <div class="row">
        <div class="personal-wrapper">
            <app-personal></app-personal>
        </div>
    </div>
    <div class="bg-image">
        <img src="../assets/images/blank-duon.jpg">
    </div>
</div>

