@import "~/src/variables.scss";
.bg-image {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: -1;
    display: flex;
    // align-items: center;

    img {
        width: 100%;
    }
}
.app-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
   

    .top-display {
        height: $topHeight;
        position: relative;

        .center-display {
            width: 70%;
            margin: auto;
            height: 100%;

            .logo-title {
                height: $heightOfTitle;
                text-align: center;
                display: inline-block;

                img {
                    height: 100%;
                }
            }

            .total-wrapper {
              
                height: calc(100% - $heightOfTitle - -30px);
            }
        }



        .group-wrapper {
            position: absolute;
            top: 10%;
            left: 0;
            width: 100%;
            overflow: hidden;
            height: 80%;
        }
    }

    .bottom-display {
        height: $bottomHeight;

        .personal-wrapper {
            height: 100%;
            overflow: auto;
        }
    }




    .bg-image {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.8;
        z-index: -1;
        display: flex;
        // align-items: center;

        img {
            width: 100%;
        }
    }
}