
$mainColor:#D3B873;// #F5EEE7;// #f4c911;
$subColor: #271E53;//#012d45
$thirdColor: #D3B873;
$topHeight: 40%;
$bottomHeight: 60%;
$heightOfTitle: 200px;
$totalTitleTxtfontSize: 3rem;
$totalTitleAmountfontSize: 3.5rem;
